body {
    font-family: "Inter";
    overflow-x: hidden;
    padding: 0;
    margin: 0;
}
nav a {
    position: relative;
    text-decoration: none;
    font-size: 20px;
    color: #fff;
    padding-bottom: 3px;
    padding-top: 20px;
}
header h3 a{
    font-weight: bold;
    text-decoration: none;
    font-size: 28px;
    color: #fff;
}

nav a::after {
    content: '';
    position: absolute;
    width: 0;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #FFCD06;
    visibility: hidden;
    transition: all 0.3s ease-in-out;
}

nav a:hover::after {
    visibility: visible;
    width: 100%;
}

nav a:hover {
    color: #FFCD06;
}

.hero-section {
    padding: 50px 20px;
    text-align: left;
    background: linear-gradient(to bottom,#0008FF,#140776);
    border-radius: 0px 0px 40px 40px;
}
.hero-section .text-content{
    padding-bottom: 60px;
    width: 700px;
}
.hero-section .text-content p, h1, h2, a{
    font-weight: bold;
}

.hero-section h1 {
    color: #ffc107;
}

.hero-section h2 {
    color: #ffcc00;
    font-weight: bold;
}

.hero-section p {
    color: white;
    font-size: 18px;
}

.hero-buttons .btn {
    margin: 10px 5px;
    font-weight: 800;
    border-radius: 50px;
    padding: 10px 35px 10px 35px;
    font-size: 18px;
}

.hero-image {
    text-align: center;
}

/* about section */
.container-about{
    display: flex;
    position: relative;

}
.container-about h3{
    color: #316189;
    font-weight: bold;
    padding-left: 20px;
}
.col .lorem {
    color: #867FB9;
    font-weight: 600    ;
}
.container-text{
    box-shadow: 0px 0px 20px grey;
    position: relative;
    top: 200px;
    background-color: #fff;
    border-radius: 40px;
    padding: 20px;
    position: relative;
    right: 80px;
}
.animate {
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.6s ease-out, transform 0.6s ease-out;
}

.in-view {
    opacity: 1;
    transform: translateY(0);
}
/* fasilitas */

#fasilitas .container{
    text-align: end;
}
#fasilitas .container a{
    font-weight: 800;
    font-size: 32px;
    text-decoration: none;
}
.image-fasilitas {
    display: flex;
    justify-content: space-around;
    padding-top: 30px;
}

.image-fasilitas img {
    width: 350px;
    border-radius: 40px;
    box-shadow: 0px 0px 40px grey;
    transition: transform 0.3s ease;
}

.image-fasilitas img:hover {
    transform: scale(1.1);
}

#fasilitas h1 {
    font-size: 48px;
}

#fasilitas p {
    font-size: 18px;
}


/* FAQ */

.faq-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: linear-gradient(to bottom, #1400A7, #1B20C2);
    color: white;
    padding: 40px;
    border-radius: 20px;
}

.faq-content {
    width: 60%;
}

.faq-content h2 {
    font-size: 36px;
    margin-bottom: 20px;
}

.faq-item {
    background: white;
    color: black;
    border-radius: 10px;
    margin-bottom: 10px;
    padding: 15px;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

.faq-answer {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.4s ease-out, padding 0.4s ease-out;
}

.faq-item.open .faq-answer {
    max-height: 200px;
    padding-top: 10px;
}

.faq-question {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.icon {
    font-size: 20px;
    color: #1310ad;
    margin-left: 10px;
}

.faq-image {
    width: 35%;
    text-align: center;
}
/* footer */
#footer{
    padding: 50px;
    border-radius: 40px 40px 0px 0px;
    margin-top: -140px;
}
.container-icon ul{
    display: flex;
    list-style: none;
}
.container-icon ul{
    position: relative;
    right: 40px;
    top: 20px;
}
.container-icon ul li{
    padding-left: 40px;
}
.container-icon ul li a img{
    width: 50px;
}
#footer .container, .col{
    color: #fff;
}
#footer .container, .col p{
    font-weight: 600;
}
.container-visi{
    background-color: #1400A7;
}
#container-text p{
    font-weight: 700;
    font-size: 16px;
}


/* halaman fasilitas */

.slideshow-container {
    position: relative;
    max-width: 800px;
    margin: auto;
    overflow: hidden;
}

.slide {
    display: none;
}

img {
    width: 100%;
    border-radius: 20px;
}

.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

.prev:hover, .next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

/* halaman fasilitas bagian fasilitas info */
.container-wrap{
    padding: 30px;
}
.container-wrap h1{
    font-weight: 800;
    font-size: 36px;
    color: #316189;
    padding-bottom: 20px;
}
.container-wrap p{
    font-weight: 600;
    color: #000;
    font-size: 18px;
}
.container-img-fasilitas{
    box-shadow: grey 0px 0px 40px;
    border-radius: 40px;
    position: relative;
    left: 50px;
    transition: transform 0.3s ease-in-out;
}
.container-img-fasilitas:hover{
    transform: scale(1.05);
}

.container-text-guru p{
    color: #fff;
    font-weight: 600;
    font-size: 18px;
    width: 450px;
    padding-top: 20px;
    align-items: center;
}
.container-text-guru h1{
    color: #FFCD06;
    font-weight: 800;
    font-size: 36px;
}
.container-img-guru{
    box-shadow: #0008FF 0px 0px 40px;
    border-radius: 40px;
    transition: transform 0.3s ease-in-out;
    position: relative;
    right: 50px;
}
.container-img-guru:hover{
    transform: scale(1.05);
}


/* halaman hasil-karya */

.section-5 {
    padding: 50px 0px 50px 0px;
}

.section-5-text {
    font-family: 'PT Sans', sans-serif;
    font-size: 42px;
    font-weight: 300;
    line-height: 1.6;
    color: #000000;
    width: 50%;
}

@keyframes changing-colors {
    0% {
        color: #FED85F;
    }

    100% {
        color: #000000;
    }
}

.section-5-icon {
    margin-top: 30px;
}

.sec5-icon {
    font-size: 100px;
    animation: changing-colors 2s infinite;
}

.sec5-portfolio-head {
    font-size: 24px;
    text-transform: uppercase;
    font-weight: bold;
}

.work-gallery-row {
    padding: 0px 20px 0px 20px;
}

.masonry {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 30px;
    row-gap: 10px;
}
.masonry .grid {
    display: inline-block;
    margin-bottom: 16px;
    position: relative;
}

.masonry .grid:before {
    border-radius: 5px;
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.2);
    transition: all 0.4s ease-in-out;
}

.masonry .grid:hover::before {
    background-color: rgba(0, 0, 0, 0.5);
}

.masonry .grid:hover {
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    transform: scale(1.04);
    transition: all 0.1s ease-in-out;
}

.masonry .grid img {
    width: 100%;
    border-radius: 5px;
}

.masonry .grid__title {
    font-size: 28px;
    font-weight: bold;
    margin: 0px 0px 10px 0px;
}

.masonry .grid__author {
    font-size: 14px;
    font-weight: 300;
}

.masonry .grid__link {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

.masonry .grid__body {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    padding: 30px 30px;
    color: #fff;
    display: flex;
    flex-direction: column;
}

.masonry .grid__tag {
    background-color: rgba(255, 255, 255, 0.8);
    color: #333;
    border-radius: 5px;
    padding: 4px 10px;
    margin-bottom: 5px;
}

#nav-hero {
    background: url(asset/img/IMG_1004\ \(1\).jpg) no-repeat;
    background-size: cover;
    padding-bottom: -500px;
}

#nav-hero .container a {
    align-items: center;
    align-content: center;
}
#nav-hero .container p,a {
    color: #000;
    font-weight: 600;
    padding-top: 10px;
    font-size: 20px;
}
#nav-hero .container a button:hover{
    background: rgba(0, 0, 0, 0.1);
    backdrop-filter: blur;
}
#nav-hero .container a button{
    background: transparent;
    padding: 10px;
    font-size: 18px;
    font-weight: 600;
    border-radius: 10px;
    border: 1px solid #000;
}